/* remove any default style  */
a:-webkit-any-link {
  text-decoration: none;
}
.link {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: rgb(252, 199, 228);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li,ul {
  all: unset;
}

nav {
  height: 50px;
  background-color: rgb(53, 68, 77);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
nav ul{
  float: right;
  margin-left: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: -10px 150px;
}
nav ul li a{
  color: rgb(255, 255, 255);
  font-size: 27px;
  padding: 0px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  color: black;
  background: rgb(153, 216, 255);
  transition: .5s;
}

.container2 {
  color: rgb(0, 31, 37);
  display: flexbox;
  padding-left: 30%;
}

.update {
  border: 1px solid rgb(204, 204, 243);
  color: rgb(255, 104, 23);
  cursor: pointer;
}

.delete {
  border: 1px solid rgb(245, 191, 191);
  color: rgb(66, 17, 1);
  cursor: pointer;
}
.link {
  padding: 10px;
}
.link:hover {
  color: rgb(255, 89, 0);
  background-color: inherit;
}